[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw

[submodule "thirdparty/ImGuiFileDialog"]
	path = thirdparty/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
