# Ignore build output directories IN CASE builded in src dir
/build/
/build
/CMakeFiles/
/CMakeScripts/
/CMakeCache.txt
/CMakeCache/
/CMakeTmp/
/VulkanEngine.dir
*.cmake

#Heavy dependencies IN CASE builded in src dir
/dependencies/glfw-build
/dependencies/glfw-src
/dependencies/glfw-subbuild
/dependencies/glm-build
/dependencies/glm-src
/dependencies/glm-subbuild


# Ignore Visual Studio-specific files
*.vs
*.suo
*.sdf
*.opensdf
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.pdb
/Debug
/x64

#Take out config.h
/src/config.h
