# Ignore build output directories
/build/
/build
/CMakeFiles/
/CMakeScripts/
/CMakeCache.txt
/CMakeCache/
/CMakeTmp/

# Ignore Visual Studio-specific files
*.suo
*.sdf
*.opensdf
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.pdb
